{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Send Swap Request | Skill Swap{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="mb-3">Send Swap Request to {{ receiver.username }}</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary w-100">Send Request</button>
                </form>
                <a href="{% url 'search_users_by_skill' %}" class="btn btn-link mt-3">Back to Search</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 